a{text-decoration:none;}
.list_top img{
	width: 100%;
}
.list_foot{
	width: 100%;
	height: 50px;
	background: orange;
}
.list_content{
	width: 100%;
	height: auto;
}
.list_content div{
	margin: 1px;
	width: 100%;
	height: 110px;
}
.list_content div table th div{
	/*width: 230px;
	height: 50px;*/
	font-weight: 400;
	/*border:1px solid gray;*/
	width: 100%;
    height: 60px;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    text-align: left;

}
.list_content div table th:first-child{
	width: 126px;
	height: 100px;
	background-color:yellow;
}
.list_content div table th div:first-child{
	font-weight: 900;
	font-size: 24px;
	height: 36px;
}